.userPost {
    cursor: pointer;
    width: 40%;
    margin: 30px auto;
    height: 400px;
    background-color:#0093FF;
    color: white
}
.userPostExpanded {
    cursor: pointer;
    width: 40%;
    margin: 30px auto;
    height: 700px;
    background-color:#0093FF;
    color: white
}
.profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.sub {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}
.sub2 {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.image {
    margin-top: 30px;
}
.caption {
    font-size: 25px;
     
}
